<form action="/people" method="post">
  <input name="name" placeholder="名前" />
  <input name="gender" placeholder="性別" />
  <input name="hobby" placeholder="趣味" />
  <button type="submit">送信</button>
</form>
